@import url(https://fonts.google.com/specimen/Roboto?query=roboto);

html {
    font-family: Roboto, sans-serif;
}

body {
    margin: 1px;
}

nav {
    background-color: rgb(213, 123, 93);
    border: 1px solid rgb(213, 123, 93);
    padding: 10px;
    top: 0;
    position: fixed;
    width: 100%;
    overflow: hidden;

}

main {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0px;
    color: rgb(213, 123, 93);
    margin: 30px;
}

div {
    padding-left: 0px;
    padding-top: 5px;
}

footer {
    padding: 10px;
    background-color: rgb(213, 123, 93);
    border-top: 15px solid rgb(213, 123, 93);
    border-bottom: 15px solid rgb(213, 123, 93);
    border-left: 15px solid rgb(213, 123, 93);
    border-right: 10px solid rgb(213, 123, 93);
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

img {
    height: 200px;
}

a#header-title-main {
    color: white;
    font-size: xx-large;
    font-weight: bold;
    margin-left: 20px;
}

a#header-title-main:hover {
    color: rgb(233, 187, 127);
}

.header-subtitle {
    color: white;
    margin-left: 20px;
}

a {
    text-decoration: none;
    transition: 0.5s;
    color: rgb(213, 123, 93);
    font-weight: bold;
}

a:hover {
    color: rgb(160, 1, 110);
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

a.grid-item {
    text-align: center;
    align-content: center;
}

a.grid-item:hover {
    text-align: center;
    align-content: center;
    color: white;
    background-color: rgb(213, 123, 93);
    border-radius: 10px;
}

th {
    text-align: left;
  }

li  {
    text-align: left;
  }
